.progress {
  display: flex;
  align-items: center;

  padding-top: 0.5rem;
  gap: 0.8125rem;

  font-size: 0.75rem;

  span {
    display: inline-block;
    text-align: center;
  }

  .slider {
    flex: 1;

    .emptySlider {
      width: 100%;
      height: 4px;
      background: var(--purple-300);
      border-radius: 2px;
    }
  }
}

@media (max-width: 768px) {
  .progress {
    width: 100%;
  }
}
