.headerContainer {
  color: var(--gray-300);
  background: var(--gray-800);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;
  border-bottom: 1px solid var(--purple-400);

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--purple-400);
  }

  span {
    color: var(--purple-400);
    margin-left: auto;
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    height: 5rem;
    padding: 2rem 1.5rem;

    img {
      width: 8rem;
    }

    p {
      font-size: 0.75rem;
      margin-left: 1rem;
      padding: 0.25rem 0 0.25rem 2rem;
      border-left: 1px solid var(--purple-400);
    }
  }
}

@media (max-width: 480px) {
  .headerContainer {
    p {
      display: none;
    }
  }
}
