.playerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.5rem 4rem;

  position: sticky;
  bottom: 0px;

  background: var(--purple-600);
  color: var(--white);

  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }
}

.controls {
  width: 100%;
  margin-left: 2rem;

  &.empty .progress {
    opacity: 0.5;
  }
}

.currentEpisode {
  display: flex;
  align-items: center;

  img {
    border-radius: 1.5rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .currentEpisodeDetails {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    strong {
      display: block;
      font: 600 0.8rem Lexend, sans-serif;
      line-height: 1.5rem;
    }

    span {
      font-size: 0.75rem;
      display: block;
      opacity: 0.6;
      line-height: 1.5rem;
    }
  }

  .emptyPlayer {
    width: 80px;
    height: 80px;

    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;

    background: linear-gradient(
      143.8deg,
      rgba(145, 100, 250, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    padding: 1rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    strong {
      font-size: 0.65rem;
    }
  }
}

@media (max-width: 768px) {
  .playerContainer {
    flex-direction: column;
    align-items: center;

    padding: 0.5rem 1.5rem;
  }

  .controls {
    margin-left: 0;

    &.empty .progress {
      opacity: 0.5;
    }
  }
}
